@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0%;
}

header {
  background-color: #3c3a39;
  width: 100vw;
  height: 10vh;
  display: flex;
  padding-top: 7%;
  padding-left: 5%;
}

span.logo {
  color: white;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.hamburger-menu {
  cursor: pointer;
  position: relative;
  left: 67%;
  width: 24px;
  height: 24px;
}

#home {
  background-color: #1c1a19;
  width: 100vw;
  height: 100vh;
  background-image: url(./images/Illustration.png);
  background-repeat: no-repeat;
  background-position: 98% 91%;
}

h1 {
  color: #ff6b00;
  font-size: 56px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.37px;
  padding-top: 35%;
  padding-left: 5%;
}

h2 {
  color: #fff5e1;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  padding-left: 5%;
  margin-bottom: 1%;
}

p {
  color: #fff;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-style: initial;
  font-weight: 300;
  line-height: 24px;
  padding-left: 5%;
}

ul.social {
  margin-left: 7%;
  padding-top: 6%;
  display: flex;
  width: 62vw;
  padding-left: 3%;
  justify-content: space-between;
}

.icon {
  padding-top: 2%;
  margin-right: 7%;
}

h3 {
  color: #1c1a19;
  font-family: 'Crete Round', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  padding-top: 25%;
  padding-bottom: 7%;
  display: grid;
  justify-content: center;
}

.line {
  width: 310px;
  height: 1px;
  background-color: #212121;
  position: relative;
  left: 9%;
  margin-bottom: 18%;
}

.image-container {
  max-width: 100%;
  max-height: 100%;
  margin: 5%;
}

.card-image {
  width: 100%;
  height: auto;
}

.project-title {
  color: #091e42;
  font-family: 'Crete Round', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  margin-top: -3%;
  margin-left: 5%;
}

.project-text {
  color: #091e42;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 90%;
  margin-bottom: 4%;
}

ul.techs {
  display: flex;
  color: red;
  position: relative;
  left: -6%;
  width: 95%;
  justify-content: space-between;
  margin-bottom: 10%;
}

li.tech {
  color: #091e42;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding: 10px 12px;
  align-items: center;
  border: 1px solid #8993a4;
  background: #fff;
}

button {
  background-color: #ff6b00;
  color: #fff;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.51px;
  padding: 4%;
  border: none;
}

.b-project {
  margin-left: 5%;
}

.card {
  background-image: url(./images/card.png);
  background-repeat: no-repeat;
  background-size: 327px 386px;
  width: 100%;
  height: 60vh;
  margin: 5%;
  margin-top: 47%;
}

.card-title {
  color: #fff;
  font-family: 'Crete Round', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  margin-top: -47%;
  padding-top: 18%;
  position: relative;
  left: 4%;
  width: 91%;
}

.card-text {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 87%;
}

.techs-card {
  display: flex;
  color: white;
  margin-top: 2%;
  position: relative;
  left: -5%;
}

.tech-card {
  margin-right: 2%;
  background: rgba(255, 255, 255, 0.24);
  padding: 4%;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.c-project {
  width: 87%;
  position: relative;
  left: 0%;
  top: 12%;
}

.last-card {
  margin-bottom: 20%;
}

.about-me {
  background-color: #1c1a19;
  background-image: url(./images/Illustration2.png);
  background-repeat: no-repeat;
  background-position: 98% 91%;
  height: 101vh;
}

.about-me-title {
  color: #ff6b00;
  font-family: 'Crete Round', sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.37px;
  padding-top: 30%;
}

.about-text {
  color: #f4f5f7;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 88%;
  padding-bottom: 11%;
}

.resume {
  margin-left: 5%;
}

.line-white {
  width: 310px;
  height: 1px;
  background-color: #fff;
  position: relative;
  left: 9%;
  top: 30%;
}
